* {text-decoration: none; list-style: none;} /* 페이지 전체에 링크 밑줄 없앰 */

/* 왼쪽 영역, 네비게이션 바 */
nav {width: 100%; height: 100%; margin-top: 0px;
    background-color: white; color: black;
     border-right : solid; border-color : rgb(164, 161, 161); /* 오른쪽 선 실선 및 색상지정 */
     border-right-width: 1.5px;} /* 오른쪽 선 굵기지정 */
ul.navlist {width: 100%; 
          line-height: 2cm;
          font-size: 18px; padding: 0px 0 0 20px; color: black;
          table-layout: fixed;}

  .navlist img{width: 40px;
                height: 40px;
                margin: 0 20px;
                }

 .navlist li a {color: black;}

 /* 로고 위에 마진주기 */
 .left img {margin-top: 20px; margin-left: 25px;}

/* 컨테이너 플렉스로 정렬(가로나열이 기본임) */
.container {display: flex; margin-top: -30px;
            background-color: rgba(219, 216, 216, 0.092);
            } /* 방식 */
.left {width: 20%;}
.center {width:50%;}
.right {width: 30%;}


/* 가운데 영역 중 상단 */
.top {display: flex;
      width: 72%;
      justify-content: space-between;
      margin-top: 20px;
      margin-left: 180px;
      padding: 3.5px 3.5px;
      background-color: white; 
      border-radius: 15px; border: 1.5px solid; border-color: rgb(164, 161, 161);} /* 박스 실선 & 굵기 함께 표기가능 */

.top img {width: 65px; height: 65px;}

.top .nickname{width:40px; color:black; font-size:small; text-align: center;}

/* 가운데 영역 중 하단 게시글을 작성한 본인의 계정 */
.middle {display: flex;
        width: 60%; align-items: center;
        text-align: left;
        margin: 0px 0px 0px 10px;}

.middle1 img{width: 45px; height: 45px; margin-top: 5px;}

.middle .nickname {width:10px; margin: 0 0 0 10px;}

.middlemore img{width : 45px; margin-left: 400px; margin-top: 5px} /* '...' 그림 위치 조정 */

.buttons {display: flex;
}
.button {display: flex; width: 140px;}

.button img {width: 35px; height: 35px;
             margin-left: 10px;} /* 좋아요부터 차례로 아이콘 */

.bookmark img {width: 35px; height: 35px; margin-left: 360px;} /* 북마크 그림 수기이동 */

.letter4 img {width: 25px; height: 25px; /* 스마일 그림 */
              margin-left: 10px;}

.letter4 {display: flex;
          margin-top: 10px;
          align-items: center;} /* 맨 하단 댓글달기를 플렉스로 정렬 후 나란히 정렬 */

.letter4 .comment{width : 80% ;font-weight: lighter; font-size: 16px;
                  color: gray; font-weight: bold; margin-left: 10px;} /* 댓글달기 텍스트 디자인 */

.letter4 .send {width : 60px; margin-left: 80px;
                color: rgba(0, 115, 255, 0.836);
                font-size: 16px; font-weight: bold;} /* 게시글씨 수기로 옮기기 */

/* 가운데 영역 중 게시글 작성공간 박스! */
.box {background-color: white;
  width: 72%; height: 850px; /* 가운데 중간 박스영역을 수기로 밑에까지 연장함 */
  margin:20px; margin-left: 180px;
  border-radius: 15px; border: 1.5px solid; border-color: rgb(164, 161, 161);}

.letter1 {color:black; font-size:medium;
  font-weight: bold; margin-left: 10px;
  width: 100%;  /* 좋아요 00개 구간 / 왼쪽 여백주고 콘텐츠 공간 통일 60% */
  line-height: 2em; } /* 줄간격 */


.letter2 {display: flex;
          width: 100%;}  

.letter3 {display: flex; width:100%; align-items: center;} /* 상대댓글과 작은하트 나란히 정렬 */

.my img{width: 100%; height: 50%; /* 사진 사이즈만 조정함 */
  padding: 0;
  margin :0;}

.letter2  .nickname, .letter3 .nickname{width: 95px;
    color:black; font-size:medium;   /* 게시글에서 속해있는 닉네임 2종 한번에 스타일 지정 */
    font-weight: bold;}

.letter .show {font-weight: lighter; font-size: 16px; width:0;
              margin-left: 0px;} /* 내가작성한 내용과 상대가 작성한 댓글문구 */
      
.letter2 .show, .letter3 .show {font-weight: lighter; font-size: 16px; width: 230px;
                } /* 내가작성한 내용과 상대가 작성한 댓글문구 */

.more{font-weight: lighter; font-size: 16px;
      color: gray; font-weight: bold;
      margin-left: 2px;} /* 더보기 */

.comment {font-weight: lighter; font-size: 16px;
          color: gray; font-weight: bold;} /* 댓글 모두보기 */


.letter3 img {width: 20px; height: 20px;
             margin-left: 170px;} /* 작은하트 위치 수기로 옮기기 */

.date {font-weight: lighter; font-size: 12px;
  color: gray; font-weight: bold;}



/* 밑에 오른쪽영역(7가지) 다시작성 */
/* outline은 여섯개 박스를 모두 아우름 */
.outline {display: flex; flex-direction: column;
          align-items: center;
          margin-top: 10px;}
/* 상단 */
.out {display: flex; justify-content: space-between; /* 가장 바깥에 있는 박스 정렬 */
      width: 260px; height: 90px; align-items: center;
      } /* 매우중요! 위로 쏠린 닉네임/이름 줄간격을 가운데로 배치 */

.in1 {display: flex; justify-content: space-between; /* 사진하고 텍스트 박스 정렬 */
      width: 160px; height: 15%; align-items: center;
      }

.in2 {width: 40px; height: 15%; /* 팔로우 박스 정렬 */
      text-align: right;}

.out .in1 img {width: 55px; height: 55px;} /* 사진 크기 조절 */

.nickname{width: 120px; margin-left: 5px;
          color:black; font-size:medium;   /* 닉네임 스타일 지정하고 크기 */
          font-weight: bold;}

.realname{width: 120px; margin-left: 5px;
          color:gray; font-size:small; /* 진짜 이름 스타일 지정하고 크기 */
          font-weight: bold;}

.fbutton {width : 50px; margin-left: 40px;
         color: rgba(0, 115, 255, 0.836);
          font-size: 14px; font-weight: bold;} /* 팔로우 글씨 디자인 */

/* 중간 */
.out2 {display: flex;  justify-content: space-between; 
      width: 330px; height: 30px;  margin-left: 70px; }

.info2 {width: 200px; margin-right: 20px; text-align: left;
        color:gray; font-size:14px; /* 회원님을 위한 추천 , 스타일 지정하고 크기 */
        font-weight:bold;}
.info3 {width: 60px; margin-right: 20px; text-align: right;
        color:black; font-size : 12px; /* 모두보기 , 스타일 지정하고 크기 */
        font-weight: bold;}

/* 하단 */
.out3 {display: flex; justify-content: space-between; /* 가장 바깥에 있는 박스 정렬 */
      width: 260px; height: 60px; align-items: center;} /* 매우중요! 위로 쏠린 닉네임/이름 줄간격을 가운데로 배치 */



.out3 .in1 img {width: 45px; height: 45px;} /* 사진 크기 조절 */   

.out3 .nickname{width: 160px; margin-left: 5px;
  color:black; font-size:medium;   /* 닉네임 스타일 지정하고 크기 */
  font-weight: bold;}

.out3 .realname{width: 160px; margin-left: 5px;
  color:gray; font-size:10px; /* 진짜 이름 스타일 지정하고 크기 */
  font-weight: bold;}

/* 참조 */
.last {display: flex;  
  align-items: center;}

.simple {width: 160px; margin-left: 5px;
  color:rgba(128, 128, 128, 0.411); font-size:7px; /* 참조글씨 스타일 지정하고 크기 */
  font-weight: bold; line-height: 2.2em;}

.last {display: flex; flex-direction: column; align-items :center; /* 참조.수직으로 정렬하기 (콜론) */
      width:  200px; text-align: center}

.simple {display: flex; flex-direction: row;/* 참조 첫번째 줄.수평으로 정렬 */
        flex-wrap: wrap; /* 참조 넓이 지정해서 그 넓이를 텍스트가 넘어가면 다음줄로 이동! */
        width: 290px;
        margin-top: 30px;
        margin-left: 40px;}

.year {width: 200px; margin-left: 5px;
    color:rgba(128, 128, 128, 0.411); font-size:7px; /* 참조 두번째줄. 스타일 지정하고 크기 */
    font-weight: bold;
    margin-left: -90px;}